<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<div id="content">
		<h1>Timestamp Microservice - FreeCodeCamp Project</h1>

		<h3>Example Usage:</h3>
		<div class="bootstrap-demo">
			<p>https://time-stamp-ms.herokuapp.com/1463088112</p>
		</div>
		<h3>Example Response:</h3>
		<div class="bootstrap-demo">
			<p> {
    				"natural": "Thu May 12 2016",
    				"unix": "1463088112"
				}
			</p>
		</div>
	</div>
</body>